<h1 id="tableLabel">Escolas Cadastradas</h1>




<div class="col-md-24">
    <button type="button" class="btn btn-primary" [routerLink]="['/incluir-escola']">Nova Escola</button>

</div>
<br>

<table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>Código da Escola</th>
            <th>Nome</th>
            <th>Cnpj</th>
            <th>Data de Inserção</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody *ngIf="listaEscolas.length > 0">
        <tr *ngFor="let list of listaEscolas">
            <td>{{ list.codEscola }}</td>
            <td>{{ list.nomeEscola }}</td>
            <td>{{ list.cnpj }}</td>
            <td>{{ list.dtInsercao | date:'dd/MM/yyyy' }}</td>
            <th><button type="button" class="btn btn-danger" (click)="ExcluirEscola(list)">Excluir</button></th>
            <th>
                <button type="button" *ngIf="!editando" class="btn btn-primary"
                    (click)="editarEscola(true, list)">Editar</button>
                <button type="button" *ngIf="editando" class="btn btn-warning"
                    (click)="editarEscola(false)">Cancelar</button>
            </th>
        </tr>
    </tbody>
    <tbody *ngIf="listaEscolas.length == 0">
        <tr class="table-default">
            <td colspan="6" class="text-center">Nenhum registro encontrado</td>
        </tr>
    </tbody>
</table>
<div class="col-md-24 ">
    <div class="row form-inline" *ngIf="totalRegistros > 5">
        <div class="col-md-10">
            <div class="col-md-10 pull-left">
                <paginator [offset]="offset" [limit]="limit" [size]="count"
                    (pageChange)="onPageChange($event)">
                </paginator>
            </div>
            <div class="col-md-14 pull-left" *ngIf="false">
                <div class="form-inline detalhe-paginado">
                    <span>Itens por página:</span>
                    <div class="form-group">
                        <select class="form-control" [(ngModel)]="qtdPagina"
                            (change)="mudarQtdPaginas($event.target.value)">
                            <option value="12">12</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div *ngIf="itemInicial > 0 && itemFinal > 0 && itemTotal > 0"
                class="pull-right detalhe-paginado">
                <span>Item {{ itemInicial }} ao {{ itemFinal }} de {{ itemTotal }}</span>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="well" *ngIf="editando">
    <div class="row">
        <div class="col-md-6">
            <label class="form-label">Nome Escola</label>
            <input type="text" class="form-control" [(ngModel)]="model.nomeEscola">
        </div>
        <div class="col-md-6">
            <label class="form-label">CNPJ</label>
            <input type="text" class="form-control" [(ngModel)]="model.cnpj">
        </div>
    </div>
    <div class="col-24 float-left">
        <br>
        <button class="btn btn-success" type="submit" (click)="alterarEscola()">Alterar Escola</button>
    </div>

</div>